[submodule "subprojects/stacktrace"]
	path = subprojects/stacktrace
	url = https://github.com/Floweynt/stacktrace
[submodule "deps/GLFont"]
	path = deps/GLFont
	url = https://github.com/jtberglund/GLFont
[submodule "subprojects/nativefiledialog-extended"]
	path = subprojects/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
